:root {
  --primario: #6834a6;
  --blanco: #fff;
  --negro: #000000;
  --fuentePrincipal: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

/*Selector de atributo que busca las clases que finalicen con __contenedor*/
[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
}

/*Header*/

.header {
  background-image: url(../img/header_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10rem;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .header {
    background-size: 45rem;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 60rem;
  }
}
@media (min-width: 1280px) {
  .header {
    background-size: 110rem;
  }
}

@media (min-width: 768px) {
  .header__barra {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  width: 15rem;
  margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}
.navegacion__link {
  color: var(--primario);
}

@media (min-width: 768px) {
  .navegacion__link {
    color: var(--blanco);
  }
}
.navegacion__link--blanco {
  color: var(--blanco);
}
@media (min-width: 768px) {
  .header__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }
}
.header__heading {
  line-height: 1;
  font-size: 4rem;
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 6rem;
    text-align: left;
    line-height: 1.2;
  }
}
.header__boton {
  background-color: var(--primario);
  color: var(--blanco);
  display: block;
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .header__boton {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header__imagen {
    margin: 0 auto;
    max-width: 30rem;
  }
}

/*About*/

.about {
  margin-top: 3rem;
}

.about__heading {
  margin-bottom: 5rem;
}

.about__grid {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .about__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    align-items: center;
  }
}

.about__imagen {
  margin-top: 3rem;
}

.nucleus__item {
  background-color: var(--blanco);
  padding: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 0.3);
  transition-property: transform;
  transition-duration: 300ms;
}

.nucleus__item:hover {
  transform: scale(1.1);
}
.nucleus__heading {
  color: var(--primario);
  margin: 0;
}

.nucleus__texto {
  font-size: 2rem;
  margin: 0;
}

/*Seguridad*/

.seguridad {
  background-color: var(--primario);
  padding: 10rem 0;
  position: relative;
  margin: 10rem 0;

  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.seguridad__heading {
  color: var(--blanco);
  margin-bottom: 6rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .seguridad__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
  }
}
/*Comisiones*/

.comisiones__texto {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .nucleus__item--2columnas {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .comisiones__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }
}

/*Testimonios*/

.testimonios {
  background-color: var(--primario);
  padding-top: 5rem;
}

.testimonios__heading {
  color: var(--blanco);
}

.testimonio {
  background-color: var(--blanco);
  padding: 2rem;
  margin: 4rem 0;
  position: relative;
}

.testimonio__texto::before {
  content: "";
  background-image: url(../img/comilla.png);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 3.5rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .testimonios__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.testimonio__autor {
  color: var(--primario);
  font-weight: 750;
  text-align: right;
}

/*Footer*/

.footer {
  background-color: #5a30a0;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .footer__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  width: 20rem;
  margin: 0 auto 4rem auto;
}

@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
